<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EasyDb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CSGO.Trader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EasyDb.Properties.Settings>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="BaseTheme" serializeAs="String">
                <value>BaseDark</value>
            </setting>
            <setting name="AccentTheme" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="SettingsFlyoutWidthLimiter" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="PluginsPath" serializeAs="String">
                <value>./Plugins</value>
            </setting>
            <setting name="IsFirstTimeStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsStorePassword" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideChocoInstall" serializeAs="String">
                <value>False</value>
            </setting>
        </EasyDb.Properties.Settings>
        <CSGO.Trader.Properties.Settings>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="BaseTheme" serializeAs="String">
                <value>BaseDark</value>
            </setting>
            <setting name="AccentTheme" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="SettingsFlyoutWidthLimiter" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="PluginsPath" serializeAs="String">
                <value>./Plugins</value>
            </setting>
            <setting name="IsFirstTimeStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsStorePassword" serializeAs="String">
                <value>True</value>
            </setting>
        </CSGO.Trader.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.0.0" newVersion="4.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
